<span class="page<%= " current btn cur-p btn-secondary" if page.current? %> mR-10">
  <%= link_to_unless page.current?, page,
    url, {remote: remote, rel: page.rel, class: "btn cur-p btn-outline-info"} %>
</span>
