@media (max-width: 600px) {
  .language {
    display: none;
  }
  .notification {
    right: -150px !important;
  }
  .home-search {
    width: inherit;
  }
}

@media (max-width: 400px) {
  .dropdown-notification {
    right: -160px !important;
  }
}

.pagination {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.user {
  max-height: 190px;
  min-height: 190px;
  .row {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
