@mixin ckeditor-custom-img($property) {
  .ckeditor-custom {
    img {
      max-width: $property !important;
      height: auto !important;
    }
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

@media (max-width: 1900px) and (min-width: 1000px) {
  @include ckeditor-custom-img(700px);
}

@media (max-width: 1000px) and (min-width: 600px) {
  @include ckeditor-custom-img(500px);
}

@media (max-width: 600px) {
  .language {
    display: none;
  }
  .notification {
    right: -150px !important;
  }
  .home-search {
    width: inherit;
  }
  @include ckeditor-custom-img(260px);
}

@media (max-width: 400px) {
  .dropdown-notification {
    right: -160px !important;
  }
}

.pagination {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.user {
  max-height: 190px;
  min-height: 190px;
  .row {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/*** Custom content CKEditor, Comment ***/

.ckeditor-custom,
.commet-report {
  height: 1100px;
  overflow-y: auto;
  overflow-x: hidden;
  @include scroll-bar;
  blockquote {
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
  }
}

blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.commet-report {
  height: 650px;
}

.comment-content,
.comment-content-new {
  word-break: break-all;
  background: rgba(114, 119, 122, .05);
  border-radius: 0px 30px 30px 30px;
  -moz-border-radius: 0px 30px 30px 30px;
  -webkit-border-radius: 0px 30px 30px 30px;
}

.comment-content-new {
  background: rgba(0, 255, 13, 0.1);
}

.float-right {
  float: right
}

.size-img-report {
  width: 100px;
  height: 100px;
}

.resize-show {
  resize: horizontal;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 49px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 49px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 49px -15px rgba(0, 0, 0, 0.75);
}

/*** popup **/

$color-popup: #9191E9;
* {
  box-sizing: border-box;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
  &-inner {
    border-radius: 10%;
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 700px;
    max-height: 400px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
  }
  &__photo {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 30%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 150px;
    img {
      width: 200px;
      height: auto;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 4rem;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: #0A0A0A;
    }
    p {
      font-size: 1rem;
      color: #686868;
      line-height: 1.5;
    }
  }
  .custom-change-password {
    padding: 2rem;
    overflow-y: auto;
  }
  .password-inner {
    max-height: 500px;
  }
  .edit-profile {
    overflow-y: scroll;
  }
  &:target {
    visibility: visible;
    opacity: 1;
    .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }
  }
  &__close,
  &__edit {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  &__edit {
    right: 3rem;
    background-color: rgb(201, 38, 101);
    &:hover {
      color: rgb(123, 255, 134);
    }
  }
}

@media (max-width: 1280px) {
  .popup {
    padding-top: 100px;
  }
}
