<div class="col-md-3 user mB-30">
  <div class="row text-center">
    <% if user.user_profile.avatar_url %>
      <%= image_tag user.user_profile.avatar_url ,
        size: Settings.user_avt_size %>
    <% else %>
      <%= image_tag "default_avatar.png", size: Settings.user_avt_size %>
    <% end %>
  </div>
  <h5 class="row text-center">
    <%= link_to user.user_profile.name, user_path(user) %>
  </h5>
  <div class="row text-center">
    <span class="icon-holder">
      <i class="c-red-500 fa fa-times"></i>
    </span>
    <%= link_to t(".delete"), admin_user_path(user), method: :delete,
      data: {confirm: t(".message_delete")}, class: "c-red-500" %>
  </div>
</div>
